pipeline/CopyFromSQLdbToADLS.json
{
	"name": "CopyFromSQLdbToADLS",
	"properties": {
		"activities": [
			{
				"name": "Look All Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT s.name as SchemaName, t.name as TableName \nfrom sys.tables t\nJOIN sys.schemas s\nON t.schema_id = s.schema_id\nwhere s.name = 'SalesLT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_testsqldb",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "IterativelyCopy Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Look All Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Look All Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Data From Raw to Bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@{concat('SELECT * FROM ', item().SchemaName, '.',item().TableName)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_testsqldb",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ParquetFiles",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-09-10T11:52:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}